
<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>


<div id="clearance" class="sign-up well text-center">
  <h2 class="title">Sign up</h2>
  <p class ="error"></p>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    


    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %><br>
<!-- this is where link_to "Sign in with Facebook", "/auth/facebook" will go -->
    </div>
  <% end %>
</div>


</div>


