
      <div class="jumbotron">
          <div class="container-fluid">
            <div class="container">

              <h1 class="title text-center" style="margin-left: auto; margin-right: auto; width: 1000px; height: 80px;">Where do you want to run?</h1>

              <div class="find-location">
                <div class="btn-group" style="display: inline-flex;">
                  <button type="button" class="btn btn-default">Find a location</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Kuala Lumpur</a>
                    </li>
                    <li>
                      <a href="#">Ipoh</a>
                    </li>
                    <li>
                      <a href="#">Malacca</a>
                    </li>
                    <li>
                      <a href="#">Johor Bahru</a>
                    </li>
                    <li>
                      <a href="#">Penang</a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
        </div>
                <!-- Split button -->
    </div>

<div class ="container">
  <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
        <h1 class="text-center font">
        <% @places.each do |place| %>
        <%= link_to place_path(place) do%>
        <p class="padding"><%=image_tag place.image[0].thumb.url if place.image.any? %></p>
        <% end %> 
        <% end %>
        </div>
      <div class="col-sm-1">
    </div>
  </div>

