<div id="clearance" class="update">
  <h2><%= t(".title") %></h2>


    <%= render partial: '/cities/form'%>


    <div class="other-links">
      <p><%=link_to "Home", user_path(current_user)%>
          <%=link_to "Index", root_path%></p>
    </div>
</div>
