@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "jquery-ui/autocomplete";

body {
  font-family: Brisa Regular;

}
.container1 {
  font-family: Brisa Regular;
  padding-top: 70px;
  margin-left: 400px;
  margin-right: 400px;
}

.container2 {
  font-family: Brisa Regular;
  padding-top: 70px;
  margin-left: 250px;
}

.form-control {
  font-family: Brisa Regular;
  width: 100%
}

.thumbnail {
  padding: 20px
}
