/*
*= require material_icons
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "*";
@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "jquery-ui/autocomplete";



body {
  font-family: 'Big Caslon';

}
.container1 {
  font-family: 'Big Caslon';
  padding: 20px;
  margin-left: 300px;
  margin-right: 300px;
}

.container2 {
  font-family: 'Big Caslon';
  padding-top: 70px;
  margin-left: 250px;
}

.form-control {
  font-family: 'Big Caslon';
  width: 100%
}

.container3 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail {
  font-family: 'Big Caslon';
  padding: 15px;
}

.navbar-default {
  font-family: 'Big Caslon';
  border-style: none;
}
