@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans|Questrial');

.jumbotron {
  padding-top: 0px;
  font-family: 'Big Caslon';
  background: url("bg1.jpg");
  width: auto;
  height: 650px;
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;

}

.find-location {
  font-family: 'Big Caslon';
  width:150px;
  margin-left: auto;
  margin-right: auto;
}

// background: linear-gradient(lightblue, white);
//   .custom-div {
//     width: 1050px;
//     margin-left: auto;
//     margin-right: auto;
// }
//
// .jumbotron {
//   background: linear-gradient(lightblue, white);
//   text-align: center;
//   background-color: 	#F8F8FF;
//
// }



/* Font Variables*/
$julius-sans-one: 'Julius Sans One', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$questrial: 'Questrial', sans-serif;

/* Styles*/
.title {
  font-family: $questrial;
}


.thick {
    font-weight: bold;
}

.padding { padding-bottom:1px; display: inline-block;}
