.jumbotron {
  background: url("bg1.jpg");
  background-size: cover;
  width: 100%;
  height: 700px;
}

.find-location {
  width:150px;
  margin-left: auto;
  margin-right: auto;
}

// background: linear-gradient(lightblue, white);
//   .custom-div {
//     width: 1050px;
//     margin-left: auto;
//     margin-right: auto;
// }
//
// .jumbotron {
//   background: linear-gradient(lightblue, white);
//   text-align: center;
//   background-color: 	#F8F8FF;
//
// }



@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');


/* Font Variables*/
$julius-sans-one: 'Julius Sans One', sans-serif; 
$open-sans: 'Open Sans', sans-serif;

/* Styles*/
.title {
  font-family: $julius-sans-one;
}

.thick {
    font-weight: bold;
}

.padding { padding-bottom:1px; display: inline-block;}
