
.jumbotron {
  padding-top: 0px;
  font-family: Brisa Regular;
  background: url("bg1.jpg");
  width: 100%;
  height: 550px;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;

}

.find-location {
  font-family: Brisa Regular;
  width:150px;
  margin-left: auto;
  margin-right: auto;
}

// background: linear-gradient(lightblue, white);
//   .custom-div {
//     width: 1050px;
//     margin-left: auto;
//     margin-right: auto;
// }
//
// .jumbotron {
//   background: linear-gradient(lightblue, white);
//   text-align: center;
//   background-color: 	#F8F8FF;
//
// }



@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans|Questrial');


/* Font Variables*/
$julius-sans-one: 'Julius Sans One', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$questrial: 'Questrial', sans-serif;

/* Styles*/
.title {
  font-family: $questrial
}


.thick {
    font-weight: bold;
}

.padding { padding-bottom:1px; display: inline-block;}
