.jumbotron {
  font-family: Brisa Regular;
  background: url("bg1.jpg");
  background-size: 100%;
  width: 100%;
  height: 700px;
}

.find-location {
  font-family: Brisa Regular;
  width:150px;
  margin-left: auto;
  margin-right: auto;
}

// background: linear-gradient(lightblue, white);
//   .custom-div {
//     width: 1050px;
//     margin-left: auto;
//     margin-right: auto;
// }
//
// .jumbotron {
//   background: linear-gradient(lightblue, white);
//   text-align: center;
//   background-color: 	#F8F8FF;
//
// }
