<div class="container-fluid">
<div id="clearance" class="create-place">

  <%= form_for @place do |form| %>
    <%= render partial: '/places/form', object: form %>



    <div class="other-links">
    </div>
  <% end %>
</div>
</div>
